@{
    ViewBag.Title = "Home Page";
}

<main>
    <h2>NAME: @ViewBag.name</h2>
    <h2>E-MAIL: @ViewBag.email</h2>
    <h2>PHONE: @ViewBag.contact</h2>
    <h2>DEGREE: @ViewBag.deg</h2>
    <h2>EXPERTISE: @ViewBag.exp</h2>
</main>