@{
    ViewBag.Title = "Reference";
}
<main>
    <h3>@ViewBag.Message</h3>
    <h2>REFERENCE : @ViewBag.ref1sl</h2>
    <h3>NAME: @ViewBag.ref1name</h3>
    <h3>PHONE: @ViewBag.ref1contact</h3>

    <h2>REFERENCE : @ViewBag.ref1sl</h2>
    <h3>NAME: @ViewBag.ref1name</h3>
    <h3>PHONE: @ViewBag.ref1contact</h3>
</main>